$maintheme: #228733;

.home-content {
  background: #F1F1F1;
  font-size: .16rem;
  height: 100%;
  overflow: scroll;
}

.swiper-slide {
  height: 1.5rem;
  width: 100%;

  > img {
    min-width: 100%;
    width: 100%;
  }
}

.flex-box {
  display: flex;
}

.border-box {
  box-sizing: border-box;
}

.home-seperator {
  margin: .1rem 0;
  position: relative;
  text-align: center;

  &::before {
    background: $maintheme;
    content: '';
    height: 1px;
    left: 10%;
    max-width: 25%;
    position: absolute;
    top: 50%;
    width: 20%;
  }

  &::after {
    background: $maintheme;
    content: '';
    height: 1px;
    max-width: 25%;
    position: absolute;
    right: 10%;
    top: 50%;
    width: 20%;
  }
}

.home-classify {
  margin-top: .06rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 .09rem;

  > .item {
    box-shadow: 0 0 2px 0 #DADADA;
    color: white;
    flex-basis: 1.2rem;
    flex-shrink: 1;
    font-size: .16rem;
    height: .81rem;
    margin: .06rem 0;

    &:nth-child(1) {
      background-color: red;
    }

    &:nth-child(2) {
      background-color: green;
    }

    &:nth-child(3) {
      background-color: blue;
    }

    &:nth-child(4) {
      background-color: purple;
    }

    &:nth-child(5) {
      background: yellow;
    }

    &:nth-child(6) {
      background-color: pink;
    }
  }
}

.home-recommend {
  margin: .15rem 0;
  padding: 0 .09rem;

  > .item {
    background: white;
    box-shadow: 0 1px 1px 0 #BABABA;
    font-size: 0;
    height: 1.84rem;
    margin-top: .1rem;
    max-height: 1.84rem;
    overflow: hidden;
    width: 100%;

    > .title {
      font-size: .15rem;
      padding: .12rem .24rem .12rem .12rem;
    }

    > .img-show {
      height: 100%;
    }
  }
}

.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
