
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487040519221'); /* IE9*/
  src: url('iconfont.eot?t=1487040519221#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487040519221') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487040519221') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487040519221#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-backward:before { content: "\e600"; }

.icon-shoppingcar:before { content: "\e6e4"; }

.icon-share:before { content: "\e601"; }

.icon-classify:before { content: "\e612"; }

.icon-star:before { content: "\e892"; }

.icon-home:before { content: "\e63d"; }

.icon-my:before { content: "\e628"; }

.icon-addtosc:before { content: "\e63e"; }

.icon-member:before { content: "\e603"; }

.icon-purchase-imedi:before { content: "\e649"; }

.icon-backward-white-copy:before { content: "\e893"; }

.icon-star-white-copy:before { content: "\e894"; }

.icon-star-yellow-copy:before { content: "\e895"; }

.icon-share-white-copy:before { content: "\e896"; }

