
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1486732748119'); /* IE9*/
  src: url('iconfont.eot?t=1486732748119#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1486732748119') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1486732748119') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1486732748119#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoppingcar:before { content: "\e6e4"; }

.icon-classify:before { content: "\e612"; }

.icon-home:before { content: "\e63d"; }

.icon-my:before { content: "\e628"; }

.icon-member:before { content: "\e603"; }

