.gooddetail-headbar-bg {
  background: rgba(0,0,0,.35);
}

.fixed {
  position: fixed;
}

.hasfootbar {
  padding-bottom: .49rem;
}

.backward {
  color: white;
  height: .44rem;
  left: .1rem;
  line-height: .44rem;
  text-align: center;
  top: 0;
  width: .44rem;
  z-index: 100;

  &.icon-in-header {
    font-size: .3rem;
  }
}

.star-good {
  color: white;
  height: .44rem;
  line-height: .44rem;
  right: .54rem;
  text-align: center;
  top: 0;
  width: .44rem;
  z-index: 100;

  &.icon-in-header {
    font-size: .22rem;
  }

  &.active {
    color: yellow;
  }
}

.share-good {
  color: white;
  font-size: .22rem;
  height: .44rem;
  line-height: .44rem;
  right: .1rem;
  text-align: center;
  top: 0;
  width: .44rem;
  z-index: 100;

  &.icon-in-header {
    font-size: .22rem;
  }
}

.good-main-content {
  z-index: 201;
}

.good-presentation {
  background: #F8F8F8;
  box-shadow: 0 1px 2px 0 #AAA;
  font-size: 0;
  height: 3.45rem;
  min-height: 3.45rem;

  > img {
    height: 100%;
    max-height: 100%;
  }
}

.good-detail {
  background: white;
  height: 1.18rem;

  > div {
    padding: .15rem .08rem .12rem;
  }

  > .price {
    border-bottom: 1px solid rgba(200, 200, 200, .4);
    height: .73rem;
    margin-bottom: .1rem;

    > p {
      color: #141414;
      font-size: .15rem;
      height: .29rem;
    }

    > div {
      height: .29rem;
    }
  }

  > .limit {
    border-bottom: 1px solid rgba(220, 220, 220, .5);
    display: flex;
    height: .35rem;
    justify-content: space-between;
    padding-top: .05rem;

    > p {
      color: #666;
      flex-grow: 0;
      flex-shrink: 1;
      font-size: .14rem;
    }
  }

  .price-discount {
    color: red;
    margin-right: .25rem;
  }

  .price-normal {
    color: #666;
    font-size: .13rem;

    > span {
      text-decoration: line-through;
    }
  }

  .sale-quantity {
    color: #666;
    font-size: .13rem;
    margin-top: .03rem;
  }
}

.good-footbar {
  background: #FAFAFA;
  bottom: 0;
  box-shadow: 0 -1px 1px 0 #DADADA;
  height: .49rem;
  justify-content: space-between;
  left: 0;
  width: 100%;
  z-index: 100;

  .good-shoppingcar {
    display: inline-block;
    height: 100%;
    padding: .08rem .2rem 0;
    position: relative;
    text-align: center;

    .icon.iconfont.icon-shoppingcar {
      font-size: .35rem;
    }

    > p {
      font-size: .12rem;
      line-height: 1.2;
    }
  }

  .good-purchase-add {
    align-items: center;
    padding-right: .1rem;

    .icon.iconfont {
      font-size: .3rem;
      margin: 0 .08rem;
    }

    .icon-addtosc {
      color: #fb8041;
    }

    .icon-purchase-imedi {
      color: #ff0000;
    }
  }
}

.shopping-point {
  border-radius: .09rem;
  font-size: .12rem;
  height: .18rem;
  line-height: .18rem;
  position: absolute;
  right: 15%;
  top: 10%;
  width: .18rem;
}

.redpoint {
  background: red;
  color: white;
}

.good-tab {
  justify-content: center;
  align-items: center;
  background: white;

  > a {
    color: #666;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    height: .4rem;
    font-size: .14rem;
    line-height: .4rem;

    &.active {
      color: #228733;
      border-bottom: 1px solid #228733;
    }
  }
}

.tabs {
  background: #F8F8F8;
  overflow: hidden;

  .details-item {
    font-size: 0;
    margin: .1rem;

    > img {
      max-width: 100%;
      width: 100%;
    }

    > p {
      color: #3f3f3f;
      font-size: .13rem;
      padding: .1rem;
    }
  }
}

.list-container {
  overflow: hidden;
}

.comment-container {
  background: white;
  border-bottom: 1px solid rgba(200, 200, 200, .5);
  box-shadow: 0 1px 1px 0 #FAFAFA;
  margin-bottom: .1rem;
  padding: .1rem .12rem .2rem;

  .icon-comment-star {
    font-size: .12rem;

    &.active {
      color: #fb8041;
    }
  }

  .comment-score {
    padding: .05rem 0;
  }

  .comment-content {
    color: #353535;
    font-size: .15rem;
    line-height: 1.3;
  }
}

.comment-about {
  align-items: center;
  border-bottom: 1px solid rgba(200, 200, 200, .3);
  padding-bottom: .1rem;

  > * {
    flex-shrink: 1;
    line-height: .4rem;
    font-size: .12rem;
  }

  .avatar {
    flex-grow: 0;
    height: .4rem;
    width: .4rem;
  }

  .name {
    font-size: .15rem;
    margin: 0 .13rem 0 .1rem;
    flex-grow: 0;
  }

  .member-level {
    flex-grow: 0;
  }

  .timestamp {
    flex-grow: 1;
    text-align: right;
    margin-right: .1rem;
  }
}

.spinningCircle {
  -webkit-animation: single2 4s infinite linear;
  animation: single2 4s infinite linear;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 4px solid rgba(255,255,255,0);
  border-top-color: 4px solid #7fc4d1;
  border-right-color: 4px solid #7fc4d1;
  margin: 0 auto;
}
@-webkit-keyframes single2 {
  0% {
    border-right-color: #7fc4d1;
    border-top-color: #7fc4d1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    border-right-color: #1f4f58;
    border-top-color: #1f4f58;
  }

  100% {
    border-right-color: #7fc4d1;
    border-top-color: #7fc4d1;
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
@keyframes single2 {
  0% {
    border-right-color: #7fc4d1;
    border-top-color: #7fc4d1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    border-right-color: #1f4f58;
    border-top-color: #1f4f58;
  }

  100% {
    border-right-color: #7fc4d1;
    border-top-color: #7fc4d1;
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

.fadetotop-enter-active,
.fadetotop-leave-active {
  transition: all .7s;
}

.fadetotop-enter,
.fadetotop-leave-active {
  opacity: 0;
  // bottom: -.51rem;
}
